<!DOCTYPE html>
<html>
  <head>
    <title>Conference Scheduler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
  </body>
</html>
